<h1>Creación de un nuevo proyecto</h1>

<form method="POST" action="/nuevo_proyecto">
  <div class="form-group">
    <label for="nombre">Nombre del proyecto</label>
    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
  </div>
 <button type="submit" class="btn btn-primary">Guardar</button>
</form>