<h1>Creación de un nuevo proyecto</h1>

<form method="POST" action="/nuevo_proyecto">
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre del proyecto</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
  </div>
 <button type="submit" class="btn btn-primary">Guardar</button>
</form>